/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}




/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background: #008eba;
    color: white;
}
header:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 320px;
    background: #0080a7;
    content: "";
    z-index: 5;
}
header {
    text-align: center;
    padding: 130px 100px 40px;
}
header img {
    z-index: 10;
    position: relative;
    max-width: 385px;
}
.main {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 40px 40px;
    max-width: 960px;
    margin: 0 auto;
    min-height: 1000px;
}
.main h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 52px;
    line-height: 68px;
}
pre.prettyprint {
    padding: 20px;
    border: none;
    background: white;
    font-size: 14px;
}
.main p{
    font-size: 18px;
    line-height: 32px;
}
.main a{
    color: white;
}
footer {
    background: #333333;
    color: white;
    text-align: center;
}

footer img{
    width: 85px;
    margin: 60px;
}

.prettyprint {
    margin-bottom: 0;
}

.codeFooter {
    margin: 0;
    background: #3fa7c7;
    height: 75px;
    width: 100%;
    margin-bottom: 1em;
}

.tryit {
    background: #4d4d4d;
    border: none;
    padding: 11px 19px;
    margin: 16px 17px;
    float: right;
    box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
    outline: none;
}




.dialog {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 100px;
    width: 620px;
    left: 50%;
    margin-left: -310px;
    padding-bottom: 45px;
    background: #245365;
    display: none;

}

.dialog * {
    box-sizing: border-box;
}



.dialog header {
    padding: 30px 45px;
    background: #2e6b7e;
    color: white;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.dialog header:before {
    display: none;
}

.dialog header .close {
    position: absolute;
    top: 30px;
    right: 45px;
    cursor: pointer;
}

.dialog .form {
    width: 100%;
    padding: 0 45px;
    box-sizing: border-box;
}

.dialog p {
    font-size: 24px;
    margin-bottom: 20px;
}

.dialog p span {
    font-size: 12px;
}

.dialog input, .dialog textarea {
    height: 50px;
    margin-bottom: 40px;
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 20px 16px;
    outline: none;
    width: 100%;
    color: black;
    background: white;
}

.dialog textarea {
    min-height: 120px;
}

.dialog .response {
    height: auto;
    tab-size: 3;
    max-height: 600px;
}

.dialog .submit {
    margin: 0 auto;
    margin-bottom: 20px;
    background: #4d4d4d;
    border: none;
    padding: 11px 19px;
    box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
    outline: none;
    display: block;
}

.dialog .methodButtons {
    text-align: center;
}

.dialog .methodButtons button {
    margin: 0 auto;
    margin-bottom: 20px;
    background: #4d4d4d;
    border: none;
    padding: 11px 19px;
    box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
    outline: none;
    display: inline-block;
}

.dialog .methodButtons button.active {
    box-shadow: none;
    background-color: #8d8d8d;
}


.cover {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
    display: none;
}


@media screen and (max-width: 767px) {
    .dialog {
        width: 100%;
        margin-left: 0px;
        left: 0px;
    }

    .form {
        padding: 0 20px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width:35em) {

    /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio:1.25), (min-resolution:120dpi) {

    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                           http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " ("attr(href) ")";
    }
    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}